.DirectMessagePage{
    height:89vh;
    .pageContainer{
        background-color: lightblue;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .container{
            border: 1px solid white;
            border-radius: 10px;
            width: 65%;
            height: 80%;
            display: flex;
            overflow: hidden;
            
            .messageNav{
                flex: 1;
                background-color:darkblue;
                .chats{
                    .userChat{
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        color: white;
                        cursor: pointer;
                        .userChatInfo span{
                            font-size: 18px; 
                            font-weight: normal;
                        }
                        .userChatInfo p{
                            font-size: 10px;
                        }
                        &:hover{
                            background-color: aqua;
                        }
                        
                    }
                    
                    
                    
                    .userChat img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        
                    }
                }
                
                
                .search{
                    .userChat{
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        color: white;
                        cursor: pointer;
                        .userChatInfo{
                            span{font-size: 1px; font-weight: normal;}
                            p{font-size: 1px; color: lightgrey;}
                        }
                        &:hover{
                            background-color: aqua;
                        }
                        
                    }
                    
                    .userChat img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        
                    }
                    .searchForm{
                        padding: 10px; 
                        outline: none;
                    }
                    .searchForm input{
                        background-color: transparent;
                        border: none;
                        color: white;
                        outline: none;
                        &:placeholder{
                            color: grey;
                        }
                    }
                }
            }
            .chat{
                flex: 2;
                background-color: red;
                .chatInfo{
                    height: 50px;
                    background-color: black;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px;
                    color: grey;
                }
                .messages{
                    background-color: lime;
                    padding: 10px;  
                    height: calc(100% - 160px)
                }
                .input{
                    height: 50px;
                    padding: 10px;
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    .send{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }
                }
                .input input{
                    width: 100%;
                    border: none;
                    outline: none;
                    color: red;
                    font-size: 18px;
                    &:placeholder{
                        color: green;
                    }
                } 
                .input img{
                    height: 24px;
                    cursor: pointer;
                }
            }
        }
        
    }
}
