
.nav{

    background-color: #5eb885;

    background-color:  #425BBD;

    color: white;
    display: flex;
    height: 75px;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    gap: 0 1rem;
    
    
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    display: flex;
    gap: 1rem
    
}
.logo{

    height: auto;

    height: 60px;

    width: 10rem;
}
.nav li.active{
    background-color: black;
}
.nav li:hover{
    background-color: lightblue;

}

.title {
    text-align: center;
    font-family: "Arial Narrow", "Segoe UI Historic", fantasy;
    font-size: 50px;
    color: #82BBD3;
    margin:0;
    padding-top: 10px;

}


