

.yourProfile
{

    text-align:center;
    justify-content: center;

}

.flex-btn {

    display: flex;
    align-item: center;
    justify-content: center;
    font-size: 18px;
    margin-top: 10px;
    width: 200px;
    height:50px;
    border: none;
    color: white;
    background-color: black;
}



.flex-container
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    background-color:  #82BBD3;

}
.flex-user img{
    align-self: center;
    height: 20%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.flex-survey
{

    align-item: center;
    justify-content: center;
    background-color: #ffffff;
    width: 500px;
    height: 850px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}
.flex-item
{

    align-item: center;
    justify-content: center;
    background-color: #ffffff;
    width: 500px;
    height: 600px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
}
.flex-user
{

    align-item: center;
    justify-content: center;
    background-color: #ffffff;
    width: 500px;
    height: 850px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}

.profile-picture-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
#imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}