

.yourProfile
{
    text-align:center;
    justify-content: center;

}

.flex-btn {
    display: flex;
    align-item: center;
    justify-content: center;
    font-size: 18px;
    margin-top: 10px;
    width: 200px;
    height:50px;
    border: none;
    color: white;
    background-color: black;
}

.flex-container
{
    display: flex;
    flex-direction: row;
    background-color:  #82BBD3;

}
.flex-item
{

    align-item: center;
    justify-content: center;
    background-color: #f1f1f1;
    width: 800px;
    height: 350px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 75px;
}