.Sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: #c3dacd;
    color: white;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 10px; /* Increase font size for bigger buttons */
    padding: 10px 20px; /* Add padding to make buttons bigger */
    border-radius: 5px; /* Add rounded corners for a button-like appearance */
    background-color: #c3dacd; /* Change button background color */
    display: block; /* Make links behave like block-level elements */
    transition: background-color 0.3s ease; /* Add a smooth hover effect */
    margin: 10px;
}
