
.sv-root-modern .sv-question__title {
    background-color: yellow;
}
.sv_complete_btn {
    background-color: #425BBD; /* Change to the desired background color */
    color: #fff; /* Change to the desired text color */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    /* Add more styles as needed */
}

/* Style the button on hover (optional) */
.sv_complete_btn:hover {
    background-color: #0056b3;
}

body {
    /* SurveyJS Creator V2 */
    --primary: #425BBD;
    --primary-light: #fffff;
    --foreground:  #4d4d4d; /*font color */
    --primary-foreground: rgba(26, 183, 250, 0.1);
    --secondary: #82BBD3;
    --background: #ffffff;
    --background-dim-light: #d9def2; /* text box */
    --hover-color: #ff0000
}
.sv-question__title {
    background-color: #425BBD; /* Change the background color */
    color: #fff; /* Change the text color */
    font-weight: bold; /* Make the text bold for better visibility */
}